:root {
    /*color*/
    --white-color : #fff;
    --black-color : #141414;
    --dark-black-color : #0A0A0A
    --red-color: #E50914;
    --grey-dark-color : #787A7C;


    /*size*/
    --padding : 12px;
    --padding-medium : 24px;
    --padding-large : 48px;


    /*Font size*/
    --font-large : 18px;
    --font-medium : 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

* {
    margin: 0;
    box-sizing: border-box;
    
}

body {
    background-color: var(--black-color);
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background: transparent;
    z-index: 1;

}


header .logo img {
    height: 70px;
    padding: var(--padding);
}

.icons {
    padding-right: var(--padding);
    
}

header .icons button {
    background:none;
    border: none;
    color: var(--white-color);
    font-size: 25px;
    
}

.fa-bell {
    padding-right: var(--padding);
}

.banner {
    background-image: url('./main_book.jpg');
    height: 90vh;
    width: 100vw;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: -1;
}



.banner:before {
    content: '';
    background: linear-gradient(to top,#141414,transparent);
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}

.banner .bannerText {
    color: var(--white-color);
    font-family: Roboto;
    position: absolute;
    top: 300px;
    left: var(--padding-large);
    
}


.banner .bannerText h1 {
    font-size: 4em;
}

.banner .bannerText h3 {
    font-size: 2em;
}

.banner .bannerText p {
    font-size: 0.8em;
}

.banner .bannerText span {
    font-size: 2em;
    color: red;
    font-weight: bold;
    text-shadow: 1px 2px 1px var(--black-color);
}



/*contents영역*/
    /*swiper*/
.mySwiper {
    position: relative;
    width: 100%;
    top: 600px;
    padding-bottom: 30px;
    padding-left: 35px;
    padding-right: 35px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    z-index: 10;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    max-width: 200px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

    /*스와이퍼 버튼*/
.swiper-pagination-bullet {
    width: 20px;
    height: 3px;
    border-radius: 0;
    background-color: #fff;
}



.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 0;
}



.swiper-button-next,
.swiper-button-prev {
    width: 40px;
    height: 40px;
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    border-radius: 50%;
    -webkit-transition: 0.4S;
    transition: 0.4s;
    position: absolute;
    color: black;
    
}


.swiper-button-prev:after, 
.swiper-rtl .swiper-button-next:after, 
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    display: none;
}

.swiper-button-next:hover ,
.swiper-button-prev:hover {
    background-color: rgb(240,240,240,0.7);
    box-shadow: 0 4px 12px rgba(56, 57, 59, 0.4);
}

.swiper-button-prev{
    background-image: url(/img/chevron-left-solid.svg);
    left: 20px;
}

.swiper-button-next {
    background-image: url(/img/chevron-right-solid.svg);
    right: 20px;
}

    /*text*/
.contentsText {
    color: #fff;
    padding: 10px;
}

/*footer 영역*/
footer {
    position: relative;
    top: 680px;
    display: flex;
    flex-direction: column;
    max-width: 980px;
    margin: 20px auto 0;
    padding: 0 4%;
}

.scialLinks {
    width: 50%;
    display: flex;
    margin-bottom: 1em;
}

.scialLinks a {
    padding-right: var(--padding-medium);
    color: var(--white-color);
    font-size: var(--padding-medium);
    margin-right: 15px;
    cursor: pointer;
}

.footerLinks {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.footerLinks ul {
    padding: 0;
    flex-direction: row;
    margin: 0 0 14px 0;
    align-items: flex-start;
}

.footerLinks li {
    list-style: none;
    margin-bottom: 16px;
    flex: 0 0 50%;
    display: list-item;
    text-align: -webkit-match-parent;
    max-width: 25%;
    margin-right: 0;
    
}

.footerLinks a {
    color: var(--grey-dark-color);
    font-size: 13px;
    cursor: pointer;
    text-decoration-line:none;
}

.copyRight {
    color: grey;
    font-size: 11px;
    margin-bottom: 100px;
}


/*bottom Navi영역*/
.bottomNavi {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color:#141414;
    padding-top: 3px ;
    color: var(--white-color);
    z-index: 1;
}

.bottomNavi button {
    background:none;
    border: none;
    color: var(--white-color);
    font-size: 15px;
    margin: 0 auto;
}

.bottomNavi p {
    padding-top: 5px;
    font-size: 10px;
}




